.footer {
  background: linear-gradient(135deg, #fbb6ce, #f4c2c2);
  padding: 16px 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7);
  margin-top: auto;
  text-align: center;
  box-sizing: border-box;
  margin-top: 40px;
}

.footer-content-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  background: transparent;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7);
}

.footer a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
