.container-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(135deg, #fbb6ce, #f4c2c2);
  position: fixed;
  z-index: 1000;
}

.header {
  padding: 16px 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  background: transparent;
}

.header-title {
  font-size: 24px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin-left: 24px;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7);
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .navigation a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7);
}

.header .navigation a:hover {
  border-radius: 6px;
  background: #fbb6ce;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  gap: 8px;
}
